@import "tailwindcss";

@tailwind utilities;


@theme {
  --color-primary: #1E40AF;
  --color-secondary: #F59E0B;
  --color-green: #019145;
  --color-nav-bg: #282f3b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #f0f3fa;
}


html, body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;

}