
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
:root {
    --color-primary: #1E40AF;
    --color-secondary: #F59E0B;
    --color-green: #019145;
    --color-nav-bg: #282f3b;
    --color-white: #fff;
    --color-black: #000;
    --color-bg: #f0f3fa;


}

/* global.css */
.input {
  @apply w-full border border-gray-300 p-2 rounded-lg text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}


